<%- include('partials/header'); -%>

    <header>
        <div class="Tickets">
        </div>
        <div class="headings">
            <h2>Book Tickets</h2>
            <h3>Search by Destination</h3>
            <a href="/main" class="btn">Search</a>
        </div>
    </header>